<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>{{ page_title }}</title>
	</head>
	<body>
		<h2>{{ page_title }}</h2>
		<ul>
			{% for chapter in chapters %}
			<li>
				<a href="{{ chapter.output_filepath }}">{{ chapter.get_title() }}</a>
			</li>
			{% endfor %}
		</ul>
	</body>
</html>
