<?xml version="1.0" encoding="UTF-8"?>
<ncx xmlns="http://www.daisy.org/z3986/2005/ncx/" version="2005-1">
	<head>
		<meta name="dtb:uid" content="{{ uid }}"/>
		<meta name="dtb:depth" content="1"/>
	</head>
	<docTitle><text>{{ title }}</text></docTitle>
	<navMap>
		{% for i, chapter in enumerate(chapters) %}
		<navPoint id="navPoint-{{ i+1 }}" playOrder="{{ i+1 }}">
			<navLabel><text>{{ chapter.markdown_filename }}</text></navLabel>
			<content src="{{ chapter.output_filepath }}"/>
		</navPoint>
		{% endfor %}
	</navMap>
</ncx>
